{% extends 'base/base.html' %}

{% block title %}
    JC's - Contact
{% endblock %}

{% block content %}
<section>

<!-- seccion blanca -->
            <div class="container">
            <div class="container">
    <div id="contactseccion" class="section scrollspy">
        <div class="col s12 m7">
            <h2 class="header">Contact us</h2>
            <div class="card horizontal">
            <div class="card-image">
                <img src="/media/{{ imageContact }}">
            </div>
            <div class="card-stacked">
    <!-- cart content-->
                <div class="card-content col s6">
<!-- Formulario de contacto -->
                    <form action="/" class="" method="POST">
                    {% csrf_token %}
                            <!-- nombre -->
                            <div class="input-field" name="first_name">
                                <i class="material-icons prefix">account_circle</i>
                                <input name="first_name" id="first_name" type="text" class="validate" required="" aria-required="true">
                                <label for="icon_telephone" data-error="wrong" data-success="right">First name</label>
                            </div>
                            <!-- telefono -->
                            <div class="input-field" name="phone">
                                <i class="material-icons prefix">phone</i>
                                    <input name="phone" id="phone" type="tel" class="validate" required="" aria-required="true">
                                <label for="phone" data-error="wrong" data-success="right">Phone</label>
                            </div>
                            <!-- email -->
                            <div class="input-field" name="email">
                                <i class="material-icons prefix">email</i>
                                <input name="email" id="email" type="email" class="validate" required="" aria-required="true">
                                <label for="email" data-error="wrong" data-success="right">Email</label>
                            </div>
                            <!-- mensaje -->
                            <div class="input-field" name="message">
                                <i class="material-icons prefix">message</i>
                                <textarea name="message" id="textarea1" class="materialize-textarea validate" required="" aria-required="true"></textarea>
                                <label for="textarea1" data-error="wrong" data-success="right">Message</label>
                            </div>
                            <!-- submit -->
                                <div class="row center">
                                        <button class="btn waves-effect waves-light" type="submit">SEND
                                                <i class="material-icons right">send</i>
                                        </button>
                                </div>
                </form>
            </div>
      </div>
            </div>
            </div>
            <div class="container">
                        <h4 class="center">{{ textContact2 }}</h4>
                </div>
            </div>
            <div class="divider"></div>
            </div>
            </div>
</section>
{% endblock %}

{% block scrips %}
    {{ block.super }}
    <script>
        $(document).ready(function(){
            $('.toc-wrapper').pushpin({
            top: 1,
            bottom: 1000,
            offset: 0
            });
        });
    </script>
{% endblock %}
