{% extends 'base/base.html' %}

{% block extrastatic %}
<link rel="shortcut icon" href="/media/{{ img4 }}"/>
<!-- style css -->
    {{ block.super }}
    <style>
                /* tipografia */
                html {
                    font-family: GillSans;
                }
    </style>
{% endblock %}

{% block title %}
    JC's - Contact
{% endblock %}

{% block content %}
<section>

<!-- seccion blanca -->
            <div class="container">
            <div class="container">
    <div id="contactseccion" class="section scrollspy">
        <div class="col s12 m7">
            <h2 class="header">Contact us</h2>
            <div class="card horizontal">
            <div class="card-image">
                <img src="/media/{{ imageContact }}">
            </div>
            <div class="card-stacked">
    <!-- cart content-->
                <div class="card-content col s6">
<!-- Formulario de contacto -->
                    <form action="/contact" class="" method="POST">
                    {% csrf_token %}
                            <!-- nombre -->
                            <div class="input-field" name="first_name">
                                <i class="material-icons prefix">account_circle</i>
                                <input name="first_name" id="first_name" type="text" class="validate">
                                <label for="icon_telephone">First name</label>
                            </div>
                            <!-- telefono -->
                            <div class="input-field" name="phone">
                                <i class="material-icons prefix">phone</i>
                                    <input name="phone" id="phone" type="tel" class="validate">
                                <label for="phone">Phone</label>
                            </div>
                            <!-- email -->
                            <div class="input-field" name="email">
                                <i class="material-icons prefix">email</i>
                                <input name="email" id="email" type="email" class="validate">
                                <label for="email">Email</label>
                            </div>
                            <!-- mensaje -->
                            <div class="input-field" name="message">
                                <i class="material-icons prefix">message</i>
                                <textarea name="message" id="textarea1" class="materialize-textarea"></textarea>
                                <label for="textarea1">Message</label>
                            </div>
                            <!-- submit -->
                                <div class="row center">
                                        <button class="btn waves-effect waves-light" type="submit">SEND
                                                <i class="material-icons right">send</i>
                                        </button>
                                </div>
                </form>
            </div>
      </div>
            </div>
            </div>
            <div class="container">
                        <h5 class="center">{{ textContact2 }}</h5>
                </div>
            </div>
            <div class="divider"></div>
            </div>
            </div>
</section>
{% endblock %}
