{% extends 'base/base.html' %}

{% block extrastatic %}
<!-- style css -->
    {{ block.super }}
    <style>
                /* PARA EL NAVBAR 
                .toc-wrapper{
                    opacity: 0.5;
                    filter: alpha(opacity=50); 
                }*/
                /* */
                .parallax-container{
                    height: 300px;
                    z-index: -1;
                }
                /* correspondiente al navbar que se mueve */
    </style>
{% endblock %}

{% block title %}
    JC's - Home
{% endblock %}

{% block content %}
<section>
<!-- seccion parallax -->
        <div class="parallax-container">
            <div class="parallax row">
                <img src="/media/{{ img2 }}"> 
            </div>
                <div class="arriba">
                    <div class="row center-align">
                        <strong><h1 class="grey-text text-{{ colorMaintitle }}">{{ mainTitle }}</h1></strong>
                        <h3 class="grey-text text-{{ colorMainSubtitle }}">{{ mainDescription }}</p>
                    </div>
               </div>
        </div>
<!-- seccion blanca -->
                <div class="section white">
                        <div class="row container">
     <!-- slider -->
                            <div class="slider">
                                <ul class="slides">
                                    {% for obj in data %}
                                    <li>
                                        <img src="/media/{{ obj.slider_image.name }}"> <!-- random image -->
                                        <div class="caption {{ obj.get_aligned_caption_display }}-align">
                                        <h3 class="light grey-text text-{{ obj.color_big_tag }}">{{ obj.big_tag_line }}</h3>
                                        <h5 class="light grey-text text-{{ obj.color_small_tag }}">{{ obj.small_slogan }}</h5>
                                        </div>
                                    </li>
                                    {% endfor %}
                                </ul>
                                </div>
    <!-- letras -->
                                <h2 class="header">{{ blanktextTitle1 }}</h2>
                                <p class="grey-text text-darken-3 lighten-3">{{ blanktextDescription1 }}</p>
                                </div>
                       </div>
                </div>
<!-- seccion parallax -->
            <div class="parallax-container">
                <div class="parallax"><img src="/media/{{ img3 }}"></div>
            </div>
<!-- seccion blanca -->
        <div class="section white">
            <div class="row container">
            <h2 class="header">{{ blanktextTitle2 }}</h2>
            <p class="grey-text text-darken-3 lighten-3">{{ blanktextDescription2 }}</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block scrips %}
    {{ block.super }}
    <script>
        $(document).ready(function(){
            $('.toc-wrapper').pushpin({
            top: 0,
            bottom: 2000,
            offset: 0
            });
        });
    </script>
            {% if toast1 %}
             <script>
                $(document).ready(function(){
                    Materialize.toast('Thank you for your opinion!', 3000, 'rounded');
                });
            </script>
        {% endif %}
{% endblock %}
