{% extends 'base/base.html' %}

{% block extrastatic %}
<link rel="shortcut icon" href="/media/{{ img4 }}"/>
<!-- style css -->
    {{ block.super }}
    <style>
                .parallax-container{
                    height: 300px;
                }
                /* tipografia */
                html {
                    font-family: GillSans;
                }
                /* Css correspondiente al slider */
                .slider .indicators .indicator-item {
                background-color: #8d6e63; 
                border: 3px solid #ffffff;
                -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
                -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
                box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
                }
                .slider .indicators .indicator-item.active {
                background-color: #558b2f;
                }
                .slider {
                width: 900px;
                margin: 0 auto;
                }
                .slider .indicators {
                bottom: 60px;
                z-index: 100;
                }
                /* correspondiente al navbar que se mueve */
    </style>
{% endblock %}

{% block title %}
    JC's - Home
{% endblock %}

{% block content %}
<section>
<!-- seccion parallax -->
        <div class="parallax-container">
            <div class="parallax row">
                <img src="/media/{{ img2 }}"> 
            </div>
                <div class="arriba">
                    <div class="row center-align">
                        <strong><h1 class="grey-text text-{{ colorMaintitle }}">{{ mainTitle }}</h1></strong>
                        <h3 class="grey-text text-{{ colorMainSubtitle }}">{{ mainDescription }}</p>
                    </div>
               </div>
        </div>
<!-- seccion blanca -->
                <div class="section white">
                        <div class="row container">
     <!-- slider -->
                            <div class="slider ">
                                <ul class="slides lime darken-2">
                                    {% for obj in data %}
                                    <li>
                                        <img src="/media/{{ obj.slider_image.name }}"> <!-- random image -->
                                        <div class="caption {{ obj.get_aligned_caption_display }}-align">
                                        <h3 class="light grey-text text-{{ obj.color_big_tag }}">{{ obj.big_tag_line }}</h3>
                                        <h5 class="light grey-text text-{{ obj.color_small_tag }}">{{ obj.small_slogan }}</h5>
                                        </div>
                                    </li>
                                    {% endfor %}
                                </ul>
                                </div>
    <!-- letras -->
                                <h2 class="header">{{ blanktextTitle1 }}</h2>
                                <p class="grey-text text-darken-3 lighten-3">{{ blanktextDescription1 }}</p>
                                </div>
                       </div>
                </div>
<!-- seccion parallax -->
            <div class="parallax-container">
                <div class="parallax"><img src="/media/{{ img3 }}"></div>
            </div>
<!-- seccion blanca -->
        <div class="section white">
            <div class="row container">
            <h2 class="header">{{ blanktextTitle2 }}</h2>
            <p class="grey-text text-darken-3 lighten-3">{{ blanktextDescription2 }}</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}
