  <nav class="toc-wrapper transparent z-depth-0">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo left hide-on-med-and-down" ><img src="/media/{{ img1 }}" class="" height="80"></a>
      <a href="#" data-activates="mobile-demo" class="button-collapse btn-flat btn z-depth-4"><i class="material-icons large">menu</i></a>
      <a href="/" data-activates="mobile-demo" class="button-collapse btn-flat btn right"><img src="/media/{{ img1 }}" class="" height="80"></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/history" class="waves-effect waves-light btn z-depth-5">History</a></li>
        <li><a href="/menus" class="waves-effect waves-light btn z-depth-4">Menus</a></li>
        <li><a href="/contact" class="waves-effect waves-light btn z-depth-3">Contact</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="/">Home</a></li>
        <li><a href="/history">History</a></li>
        <li><a href="/menus">Menus</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </div>
  </nav>