  <nav class="toc-wrapper">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo center" ><img src="/media/{{ img1 }}" class="" height="80"></a>
      <a href="#" data-activates="mobile-demo" class="button-collapse btn-flat btn"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/history" class="waves-effect waves-light btn">History</a></li>
        <li><a href="/menus" class="waves-effect waves-light btn">Menus</a></li>
        <li><a href="/contact" class="waves-effect waves-light btn">Contact</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="/">Home</a></li>
        <li><a href="/history">History</a></li>
        <li><a href="/menus">Menus</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </div>
  </nav>