
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
 <!-- Compiled and minified JavaScript  -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
  <script>
    $(document).ready(function(){
    $('.slider').slider({
        full_width: true,
        interval: 3000
        });
    $('.parallax').parallax();
    $(".button-collapse").sideNav();
    $('.toc-wrapper').pushpin({
      top: 1,
      bottom: 1000,
      offset: 0
    });
    });
  </script>   